/*
* {
    border-style: solid;
    border-color: red;
}*/

/*Try to add pseudoclasses such as article p:hover {}*/

/*The entire page is a nest of flexboxes
header
    left
    right
intro
    intro_text
    empty_space
info
    data-title
    data-container
        data1
        data2
        data3
        data4
quote
footer
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /*padding: 0px;*/
    margin: 0px;
    /*background-color: pink;*/
    background: url(images/pexels-aleksandar.jpg);
    background-size: cover;
    color: white;
} 

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-items: center*/
    height: 50px;

    /*width: 100%;*/
    /*background-color: blue;*/
    /*opacity: 0.5;*/
}

header .logo {
    width: 100px;
    /*flex: 1;*/
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
    /*background-color: yellow;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header .nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;


    /*flex: 1;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    /*margin-left: 30px;*/
    /*margin-right: 30px;*/

    /*background-color: yellow;*/

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

li {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px 20px;
    text-align: center;
}


div.intro {
    flex: 1;

    /*background-color: green;*/
    text-shadow: 5px 5px 40px white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
.intro > div {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;

    height: 750px;
    width: 500px;

    opacity: 1;
    color: white;
}*/

.intro_text {
    height: 750px;
    width: 500px;
    flex-grow: 1;

    /*background-color: blue;*/

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.intro_text > .intro_text_container {
    height: 750px;
    width: 400px;
    flex-grow: 0;
    flex-shrink: 1;
    /*flex-basis: 0*/
    
    /*background-color: pink;*/

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.intro_text_container div:first-child {
    font-size: 45px;
    /*background-color: green;*/
}

.intro_text_container div:nth-child(2) {
    font-size: 20px;
    /*background-color: rgb(0, 128, 66);*/
}

.intro_text_container div:last-child {
    text-align: center;
}

.empty_space {
    height: 750px;
    width: 500px;
    flex-grow: 1;

    /*background-color: green;*/
    color: white;
}

div.info {
    flex: 1;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: black;
}

.info > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /*background: yellow;*/
    border-style: solid;
    border-color: blue;

    text-align: center;
}

.data-title {
    font-size: 40px;
}

.data_container > div {
    width: 150px;
    height: 150px;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    /*background: orange;*/
}

.quote {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;

    /*background-color: blue;*/

}

.quote > div {
    width: 500px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 50px;

    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 40px white;
    /*background-color: greenyellow;*/
}

.footer {
    height: 300px;
    /*background: white;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.call-to-action {
    height: 125px;
    width: 500px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: grey;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.words {
    height: 60px;
    margin: 0px;
    padding: 0px;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    /*background-color: orange;*/

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.text {
    /*height: 50px;*/
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    /*background-color: green;*/

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.text > p {
    margin: 0px;
    padding: 0px;
    /*background-color: blue;*/
}

.copyright {
    height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}