/*Try to add pseudoclasses such as article p:hover {}*/
div.info {
    border-style: solid;
    border-color: red;
}

/*The entire page is a nest of flexboxes
header
    left
    right
intro
    intro_text
    empty_space
info
    data-title
    data-container
        data1
        data2
        data3
        data4
quote
footer
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /*padding: 0px;*/
    margin: 0px;
    /*background-color: pink;*/
} 

header, .intro {
    background: url(iamges/pexels-tiff-ng-cropped.jpg) no repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;

    height: 50px;


    /*width: 100%;*/
    background-color: blue;
    opacity: 0.5;
}

header > div {
    /*flex: 1;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    margin-left: 30px;
    margin-right: 30px;
    background-color: yellow;
}

div.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex: 1;

    background-color: green;
    opacity: 0.5;
}

.intro > div {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;

    height: 750px;
    width: 300px;

    background-color: blue;
    opacity: 0.5;
    color: white;
}

.intro_text {

}

.empty_space {
    height: 750px;
    width: 300px;
}

div.info {
    flex: 1;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: black;
}

.info > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background: yellow;
    opacity: 0.5;
    border-style: solid;
    border-color: blue;
}

.data-title {
    font-size: 40px;
}

.data_container > div {
    width: 150px;
    height: 150px;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    background: orange;
    opacity: 0.5;
}

.quote {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;

    background-color: blue;
    opacity: 0.5;
}

.quote > div {
    width: 500px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 50px;

    font-size: 50px;
    color: white;
    background-color: greenyellow;
    opacity: 0.5;
}